<html lang="kr">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Sign Up</title>
    </head>
    <body>
        <form method="POST" action="{% url 'signup'%}">
            {% csrf_token %}
            <br>
            이름(User Name)
            <br>
            <input name="UserName" type="text">
            <br>
            <br>
            비밀번호(Password)
            <br>
            <input name="Password" type="text">
            <br>
            <br>
            비밀번호 확인(Confirm Password)
            <br>
            <input name="ConfirmPassword" type="text">
            <br>
            <br>
            핸드폰번호(Phone Number)
            <br>
            <input name="PhoneNumber" type="text">
            <br>
            <br>
            농장주소(Farm Address)
            <br>
            <select name="LargeCategoryAddress">
                <option value="">시도 선택</option>
                <option value="경기도">경기도(GYEONGGI)</option>
            </select>
            <select name="MediumCategoryAddress">
                <option value="">시군구 선택</option>
                <option value="화성시">화성시(HWASEONG)</option>
                <option value="가평군">가평군(GAPYEONG)</option>
                <option value="수원시">수원시(SUWON)</option>
                <option value="성남시">성남시(SEONGNAM)</option>
                <option value="안양시">안양시(ANYANG)</option>
            </select>
            <br>
            <br>
            작물명(Crop Name)
            <br>
            <select name="CropName">
                <option value="">작물 선택</option>
                <option value="포도">포도(grape)</option>
                <option value="논벼">논벼(rice)</option>
                <option value="배">배(pear)</option>
                <option value="사과">사과(apple)</option>
                <option value="고추">고추(pepper)</option>
            </select>
            <br>
            <br>
            <br>
            <input class="btn btn-primary" type="submit" value="제출(Submit)">
        </form>
    </body>
</html>
