<html lang="kr">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sign Up</title>
    <style>
      body {
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    </style>
</head>
<body>
<form method="POST" action="{% url 'signup'%}">
    {% csrf_token %}
    <br>
    이름(User Name)
    <br>
    <input name="UserName" type="text">
    <br>
    <br>
    비밀번호(Password)
    <br>
    <input name="Password" type="password">
    <br>
    <br>
    비밀번호 확인(Confirm Password)
    <br>
    <input name="ConfirmPassword" type="password">
    <br>
    <br>
    핸드폰번호(Phone Number)
    <br>
    ex) 01012341234
    <br>
    <input name="PhoneNumber" type="text">
    <br>
    <br>
    농장주소(Farm Address)
    <br>
    <select name="LargeCategoryAddress">
        <option value="">시도 선택</option>
        <option value="41">경기도(GYEONGGI)</option>
    </select>
    <select name="MediumCategoryAddress">
        <option value="">시군구 선택</option>
        <option value="4182">가평군(GAPYEONG)</option>
    </select>
    <br>
    <br>
    작물명(Crop Name)
    <br>
    <select name="Crop">
        <option value="">작물 선택</option>
        <option value="FT040603">포도(grape)</option>
    </select>
    <br>
    <br>
    <br>
    <input class="btn btn-primary" type="submit" value="제출(Submit)">
</form>
</body>
</html>
